<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tictactoe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/opo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/opo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".singlerecyclerview"></activity>
        <activity android:name=".recycler" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".gamescreen" />
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/splash" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>